
.card{
    width: 300px;
}

.burger-enter {
    opacity: 0;
}
.burger-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.burger-exit {
    opacity: 1;
}
.burger-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}
.loader {
    border-top-color: black;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}